/* Tag Selectors */
h1 {
    color: red;
    font-size: 200px;
}

/* Commenting in CSS */
/*
img {
    background-color: red;
}
*/

/* Class Selectors */

.bacon {
    background-color: green;
}

.broccoli {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

/* Id Selectors */

#heading {
    color: blue;
}
